body {
    background-color: #e6e6e6;
}

.container {
    width: 72%; /* 980px*/
    margin: 0 auto;
    padding: 1.5% 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    background-color: #8080ff;   
    margin-bottom: 15px;    
}

.header h1 {
    color: #ffff80;
    margin-left: 20px;
    font-size: 2em;
}

.navbar-list {
    display: flex;    
    justify-content: space-between;
    list-style: none;
    font-size: 1.1em;
    padding: 20px;
}

.navbar-list > li {
    padding: 10px;
    background: #ff8080;    
    border-radius: 3px;
    margin: 0 10px;
}

.navbar-list > li > a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    transition: 0.2s;
}

.navbar-list > li > a:hover {
    color: #ffff80
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
}

.main-content h2 {
    font-size: 1.8em;
}

.font-list {
    list-style: none;    
}

.font-list > li {
    font-size: 1.1em;
    padding: 1.8%;
    margin: 1.020% 0;
    border: 2px solid #ff8080;
    border-radius: 3px;
    transition: 0.5s;
}

.font-list li:hover {
    background-color: #8080ff;
    opacity: 0.5;
}

.font-list li > a {
    text-decoration: none;
    color: #0d0d0d;
    transition: 0.2s;
}

.font-list li > a:hover {
    color:#fff;   
}

footer {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color:#8080ff;
}

.social-midia {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.social-midia > li {
    list-style: none;    
}

.social-midia > li > a > img {
    width: 30%;
}

footer > p {    
    text-align: center;
    font-weight: bolder;
    margin-left: 20px;
}

/* 970px
   780px
*/
@media (max-width: 780px) {
    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }    
}